
<div class="container">
    <!-- <h2 style="text-align: left  ;"> {{title2 | uppercase }} </h2>  -->
      <h2 style=" margin-top:100px;">Trouvez des offres sur des hôtels, des hébergements indépendants et bien plus encore...</h2>
        <p>Du gîte champêtre cosy à l'appartement citadin design</p>
        <div class=my-4>

          <div class="row">
            <div class="col-md-3">
              <span class="Bahous"> Filtre actuel</span>
              <b class="younes">  {{hotelFilter}}</b>
            </div>
            <div class="col-md-3 form-group">
              <!-- <input type="text" class="form-control" [ngModel]="hotelFilter" (ngModelChange)="hotelFilter= $event"> -->
              <input type="text" class="form-control" [(ngModel)]="hotelFilter" >
              
            </div>
    
          </div>

          
      
        </div>
        <button class="btn btn-primary d-flex" (click)="toggleIsNewbadge()">
          <span class="material-icons">{{ showBadge ? 'visibility_off' : 'visibility'}}</span>
          <span>{{ showBadge ? '  Cacher' : '  Afficher '}}  Nouveau </span>
        </button>
        <div class="row row-cols-1 row-cols-md-3" style="margin-top: 20 px;">
        
            <div class ="col mb-4"  *ngFor= "let hotel of filteredHotels"  Style="margin-top:50px;">
              <div class="card" >
                <img [src]="hotel.imageUrl" 
                class="card-img-top"
                [title]="hotel.hotelName"
                alt="hotel.hotelName" with="200px" height="300px">
          
                  <div class="card-body">
                    <h5 class="card-title">{{hotel.hotelName | replaceComma }}</h5>
                    
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  
                  <div class="card-body">
                    <div>
                      <span class="badge badge-success">Nouveau</span>
                    </div>
                    <p class="card-text" style="text-align: right;">{{ hotel.price | currency : "EUR": 'symbol': '1.2-2' }}</p>

                    <!-- <span class="badge badge-pill badge-info" style="color:blue;" > Nouveau</span> -->
                    <span class="badge badge-pill badge-info" *ngIf="showBadge" style="color:blue;"> Nouveau</span>
                    
                    <app-star-rating [rating] ="hotel.rating"  (StarRatingClicked)="receiveRatingClick($event) " ></app-star-rating>
                    
                  </div>
              </div>
            </div>
        </div>
</div>
    
    